body {
    font: 20px/1.5 Helvetica;
    margin: 0;
    margin-bottom: 50px;
    background: #333;
    background-size: cover;
    color: #fff;
    line-height: 30px;
}

.matrixform {
    color: #fff;
}

.matrixform input[type=number] {
    width: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 5px;
    color: #fff;
}

button {
    width: 150px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 10px;
    margin: 10px;
    transition: 0.25s;
}

button {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    cursor: pointer;
}

.box {
    width: 75%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 20px;
}

p {
    display: inline-block;
}

.result {
    line-height: 5px;
}

.block {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}